<phpunit
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    strict="true"
    bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="Data_Cruncher">
            <directory>./tests/**/*.php</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="build/coverage" title="CSV_Cruncher" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>

    </logging>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>./vendor</directory>
            <directory>./tests</directory>
            <directory>./example</directory>
        </whitelist>
    </filter>
</phpunit>
